.order-container{
    margin: 10px;
    margin-top: -40px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  
  
}
.past-ride-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 100vh;
    overflow-y: scroll;


}

.past-ride-div{
    display: flex;
    flex-direction: column;
   
    padding: 10px;
    border: 0.5px solid rgba(221,221,221);
    border-radius: 10px;
   
    margin-top: 10px;
    
    
}
.past-ride-info-div{
    padding: 10px;
    background-color: rgb(235, 235, 235);
}