.order-container {
  margin: 10px;
  margin-top: -40px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.past-ride-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.past-ride-div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 0.5px solid rgba(221,221,221,0.8);
  border-radius: 10px;
  margin-bottom: 10px;
}

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
