/* ====================== MAIN CONTAINER ====================== */
.sign-container {
    background: #eee;
    padding: 120px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ====================== SIGN BOX ====================== */
.sign-box {
    background: #f5f5f5;
    border-radius: 40px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    overflow: hidden;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

/* ====================== LEFT SIDE IMAGE ====================== */
.sign-left {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
}

.sign-left img {
    height: 520px;
    object-fit: contain;
}

/* ====================== RIGHT SIDE FORM ====================== */
.sign-right {
    flex: 1;
    padding: 30px 50px;
    margin-top: 15px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #5B5B5B;

}

.sign-right h3 {
    font-size: 30px;
    font-weight: 500;
    color: #5B5B5B;
}

/* PHONE INPUT ROW */
.phone-row {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    border-bottom: 2px solid #5B5B5B;
    margin: 20px 0;
    padding-bottom: 10px;
}

.country-code {
    font-size: 20px;
    font-weight: 600;
    color: #5B5B5B;
}

.mobile-input {
    border: none;
    flex: 1;
    background: transparent;
    font-size: 20px;
    outline: none;
}

/* AGREEMENT */
.agree-text {
    font-size: 14px;
    color: #5B5B5B;
    font-weight: 500;
    margin-bottom: 25px;
}

.agree-text a {
    color: #0056ff;
    text-decoration: none;
}

/* OTP BUTTON */
.otp-btn {
    width: 100%;
    background: #ff6a00;
    color: white;
    padding: 14px 0;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 40px;
}

/* BOTTOM TEXT */
.bottom-text {
    font-size: 14px;
    color: #5B5B5B;
    font-weight: 500;
    margin-top: 20px;
}

.bottom-text a {
    color: #0056ff;
    text-decoration: none;
}

/* ------------------------------------------------------ */
/*                   TABLET RESPONSIVE                    */
/* ------------------------------------------------------ */
@media (max-width: 1000px) {
    .sign-box {
        width: 100%;
        gap: 20px;
    }

    .sign-left img {
        height: 500px;
        margin-left: -100px;
    }

    .sign-right {
        padding: 40px 20px;
    }

    .sign-right h2 {
        font-size: 30px;
    }
}

/* ------------------------------------------------------ */
/*                   MOBILE RESPONSIVE                    */
/* ------------------------------------------------------ */
@media (max-width: 768px) {
    .sign-container {
        padding: 40px 10px;
    }

    .sign-box {
        /* flex-direction: column; */
        width: 100%;
        border-radius: 25px;
        padding: 0px;
        overflow-y: auto;
        max-height: 90vh;
    }

    .sign-left img {
        height: 400px;
        margin-right: 20%;
    }

    .sign-right {
        width: 100%;
        padding: 20px;
        margin-left: -40px;
    }

    .sign-right h2 {
        font-size: 26px;
        text-align: center;
    }

    .phone-row {
        margin: 20px 0;
    }

    .mobile-input,
    .country-code {
        font-size: 18px;
    }

    .otp-btn {
        font-size: 16px;
        padding: 12px 0;
    }

    .bottom-text {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .sign-container {
        padding: 40px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sign-box {
        flex-direction: column;
        width: 100%;
        border-radius: 25px;
        align-items: start;
        padding: 20px;
        overflow-y: auto;
        max-height: 120vh;
        font-size: 20px;
    }

    .sign-left {
        height: 400px;
        margin-right: 20%;
    }

    .sign-right {
        width: 100%;
        /* padding: 20px; */
        margin: 0;
    }

    .sign-right h2 {
        font-size: 30px;
        text-align: center;
    }

    .sign-right h3{
        font-size: 20px;
    }

    .phone-row {
        margin: 20px 0;
    }

    .mobile-input,
    .country-code {
        font-size: 18px;
    }

    .otp-btn {
        font-size: 16px;
        padding: 12px 0;
    }

    .bottom-text {
        text-align: center;
        margin: 0;
    }
}