.coin-history-container{
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    margin-top: -40px;
    padding: 5px 15px;
    
}


.history-container{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    
}

.coin-history-div{
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100px;
    border-radius: 10px;
  
}