.zpp-container{
     height: 100dvh;          /* full device height */
  display: flex;
  flex-direction: column;
  background-color: #0000E6;
}

.coins-history-container{
    width: 100%;
    height: 90vh    ;
    /* background-color: white; */
    /* flex: 1;
    flex-direction: column; */
    padding: 10px;
    
}
.coin-history-div{
    width: 100%;
    height: 100%;
    background-color: white;
    margin-top: -50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.display-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}