.faq-container {
    padding: 50px 4%;
}

.faq-title {
    font-size: 60px;
    font-weight: 800;
    color: #0000ff;
    /* Blue like screenshot */
    line-height: 1.2;
}

.faq-subtitle {
    margin-top: 8px;
    color: #474747;
    font-size: 17px;
    margin-bottom: 25px;
}

.faq-list {
    width: 100%;
}

.faq-item {
    border-bottom: 2px solid #c9c9c9;
    padding: 15px 0;
    cursor: pointer;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #898989;
}

.faq-icon {
    font-size: 20px;
    font-weight: bold;
    color: #898989;
}

.faq-answer {
    margin-top: 10px;
    padding-left: 5px;
    font-size: 15px;
    color: #555;
    line-height: 1.5;
}