/* Navigation */
.bottom-nav2 {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgb(255, 255, 255);
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #eee;
  z-index: 9;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  color: #999;
}

.nav-item.active {
  color: var(--primary-blue);
}