.driver-info-div{
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px gray;
}
.driver-info-2{
    display: flex;
    flex-direction: column;
}
.btn2-conatiner{
    display: flex;
    flex-direction: row;
}

.btn2-btn{
    padding: 10px;
    background-color: white;
    color: #0000E6;
}
.cash-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px gray;
    border-radius: 10px;
    justify-content: center;
 

}
.cash-container-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.otp-div{
    display: flex;
    flex-direction:row;
    padding: 5px;
    background-color: #ffb5b5;
    border-radius: 5px;
    font-weight: 600;
}