/* NAVBAR MAIN */
.navbar-container {
    width: 100%;
    background-color: #0000E6;
    padding: 30px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.active {
    border-bottom: 1px solid white;
}

.navbar-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* LOGO */
.navbar-left img {
    width: 30vh;
    height: auto;
}

.navbar-left ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    list-style: none;
}

.navbar-left li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: .25s;
    cursor: default;
}

.navbar-left li img {
    width: auto;
    height: 25px;
    display: inline-block;
}

/* DESKTOP MENU */
.navbar-right {
    display: flex;
    align-items: center;
    transition: 0.3s ease;
}

.navbar-right ul {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    list-style: none;
    width: 0px;
}

.nav-link {
    text-decoration: none;
}

.navbar-right li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: .25s;
}

.navbar-right li:hover {
    background: rgba(255, 255, 255, 0.15);
}

.navbar-right li img {
    width: auto;
    height: 25px;
    display: inline-block;
    transition: transform 0.3s;
}

.navbar-right li:hover img {
    animation: bounce 0.8s;
}

.bounce:hover{
     animation: bounce 0.8s;
}
/* Keyframes for bounce */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-7px);
    }

    100% {
        transform: translateY(0);
    }
}

.navbar-right p {
    color: white;
    font-size: 15px;
    font-weight: 600;
}

/* HAMBURGER */
.hamburger {
    display: none;
    width: 32px;
    height: 26px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 300;
}

.hamburger span {
    display: block;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 5px;
    transition: 0.3s;
}

/* HAMBURGER ANIMATION */
.hamburger.open span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

/* MOBILE / TABLET MENU */
@media (max-width: 1200px) {

    .hamburger {
        display: flex;
    }

    .navbar-container {
        padding: 20px 15px;
    }

    .navbar-right {
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 260px;

        background: #0000CC;
        flex-direction: column;
        padding-top: 100px;
        transition: 0.3s ease;
        box-shadow: -5px 0 12px rgba(0, 0, 0, 0.15);
    }

    .navbar-right.show-menu {
        right: 0;
        z-index: 2;
    }

    .navbar-right ul {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .navbar-right li {
        padding: 12px 20px;
        width: 100%;
    }
}

/* SMALL PHONES */
@media (max-width: 500px) {
    .navbar-left img {
        width: 120px;
    }

    .navbar-container {
        padding: 15px;
    }

    .navbar-right li img {
        width: 24px;
    }

    .navbar-right p {
        font-size: 14px;
    }
    .navbar-left li{
        display: none;
    }
}