.account-container{
    padding: 10px;
    margin-top: -50px;
}

.profile-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.profile-div{
    display: flex;
    flex-direction:row;
    padding: 10px;
    gap: 20px;
}