.search-conatiner{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #0000E6;
    overflow-y: auto;
}

.map-container3{
    width: 100%;
    height: 300px;
    background-color: white;
    margin-top:-50px ;
    border-radius: 10px;
}
.trip-container{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: white;
    justify-content: space-between;
    border-radius: 10px;
}
.time-container{
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.searchbar-conatiner{
    display:flex ;
    flex-direction: row;
    padding: 4px;
    justify-content: space-between;
    
}

.searchbar-conatiner div{
    padding: 4px;
    border-radius: 10px;
    background-color: white;
    width: 14vb;
    height: 2px;
}